<ion-view>
  <ion-nav-title>Currículo</ion-nav-title>
  <ion-content style="background: #31B2EA">

    <style>
      h1, h2, h3, h4, h5, h6 {
        color: #000;
        font-weight: 200;
      }
      h2 {
        font-weight: bold;
      }
      h4 {
        border-bottom: 1px solid #000;
      }
    </style>

    <div style="width:100%" align="center">
      <img ng-src="{{ getProfilePictureUrl(model.user.image.profile_image) }}"
           style="width:50%;border-radius:50%;margin-top: 5%;margin-bottom:-8%;border:3px solid #FFF;box-shadow:2px 2px 5px #000">
    </div>

    <div style="margin: 20px;padding: 10px;font-weight:200;background:#FFF;color:#FFF;border-radius:5px;box-shadow:2px 2px 2px #000">

      <h3 style="font-weight:200;">{{ model.user.name }}</h3>
      <h6>{{ model.user.email }}</h6>

      <hr>

      <h2><i class="icon ion-university">  Curso(s)</i></h2>

      <div ng-repeat="course in model.curriculum.course">
        <h4>{{ course.name }} - {{ course.institution[0].name }}</h4>
        <h6>Data de início: {{ course.start_date }}</h6>
        <h6>Data de conclusão: {{ course.end_date }}</h6>
      </div>

      <h2><i class="icon ion-briefcase">  Experiência(s)</i></h2>

      <div ng-repeat="experience in model.curriculum.experience">
        <h4>{{ experience.title }} - {{ experience.workplace.name }}</h4>
        <h6>{{ experience.description }}</h6>
        <h6>Duração: {{ experience.duration }} meses</h6>
      </div>

      <h2><i class="icon ion-chatbubble-working">  Linguagem(ns)</i></h2>

      <div ng-repeat="language in model.curriculum.language">
        <h4>{{ language.name }} - {{ language.level }}</h4>
      </div>

    </div>

  </ion-content>
</ion-view>
