<ion-view>
  <ion-nav-title>Ranking</ion-nav-title>
  <ion-content style="background: #31B2EA; padding: 20px">

    <ion-refresher
      pulling-text="Puxe para atualizar..."
      on-refresh="refresh()">
    </ion-refresher>

    <div ng-repeat="(name, obj) in users" style="margin:10px;">
      <h4 style="text-transform: uppercase">{{ name }}:</h4>
      <div ng-repeat="data in obj">
        <h5 style="color:#FFF">{{ data.name }}: <span style="font-size:6vw;font-weight:bold;">{{ data.ranking }}</span> pontos</h5>
      </div>
      <hr style="border:1px solid #FFF;margin:5px -10px 10px -10px">
    </div>
  </ion-content>
</ion-view>
